/* COMMON PANEL STYLES */
body {
  font-size: 90%;
  font-family: sans-serif;
}

/* Hide phone-only elements (except on phones). */
.phone-only {
  display:none;
}

button {
  font-size: 120%;
  color: white;
  padding: .5em;

  -moz-border-radius: .3em;
  border-radius: .3em;
  border: .3em solid black;
  background-color: rgba(60, 30, 15, .9);
}

button.primary-button {
  background-color: rgba(150, 90, 30, .9);
}

button:hover {
  color: rgb(250, 200, 100);
}

button:disabled {
  color: rgb(149,133,118);
  background-color: rgb(58,43,34);
  border: .2em solid rgb(58,43,34);
}

.help {
  font-style: italic;
}