@media screen and (max-width: 1200px) {
  body {background-color: red;}
  #page:after { content: '1200px'; }
}


@media screen and (max-width: 1150px) {
  body {background-color: green;}
  #page:after { content: '1150px'; }
}

@media screen and (max-width: 1100px) {
  body {background-color: blue;}
  #page:after { content: '1100px'; }
}

@media screen and (max-width: 1050px) {
  body {background-color: brown;}
  #page:after { content: '1050px'; }
}

@media screen and (max-width: 1000px) {
  body {background-color: orange;}
  #page:after { content: '1000px'; }
}

@media screen and (max-width: 950px) {
  body {background-color: purple;}
  #page:after { content: '950px'; }
}

@media screen and (max-width: 900px) {
  body {background-color: pink;}
  #page:after { content: '900px'; }
}

@media screen and (max-width: 850px) {
  body {background-color: aqua;}
  #page:after { content: '850px'; }
}

@media screen and (max-width: 800px) {
  body {background-color: silver;}
  #page:after { content: '800px'; }
}

@media screen and (max-width: 750px) {
  body {background-color: tan;}
  #page:after { content: '750px'; }
}

@media screen and (max-width: 750px) {
  body {background-color: tan;}
  #page:after { content: '750px'; }
}

@media screen and (max-width: 700px) {
  body {background-color: purple;}
  #page:after { content: '700px'; }
}
@media screen and (max-width: 650px) {
  body {background-color: orange;}
  #page:after { content: '650px'; }
}

@media screen and (max-width: 600px) {
  body {background-color: blue;}
  #page:after { content: '600px'; }
}
@media screen and (max-width: 550px) {
  body {background-color: green;}
  #page:after { content: '550px'; }
}
@media screen and (max-width: 500px) {
  body {background-color: red;}
  #page:after { content: '500px'; }
}
@media screen and (max-width: 450px) {
  body {background-color: lime;}
  #page:after { content: '450px'; }
}

@media screen and (max-width: 400px) {
  body {background-color: pink;}
  #page:after { content: '400px'; }
}

@media screen and (max-width: 350px) {
  body {background-color: lime;}
  #page:after { content: '350px'; }
}

@media screen and (max-width: 300px) {
  body {background-color: yellow;}
  #page:after { content: '300px'; }
}





