@media screen and (max-width: 1200px) {
  #page:after { content: '1200px'; }
}

@media screen and (max-width: 1150px) {
  #page:after { content: '1150px'; }
}

@media screen and (max-width: 1100px) {
  #page:after { content: '1100px'; }
}

@media screen and (max-width: 1050px) {
  #page:after { content: '1050px'; }
}

@media screen and (max-width: 1000px) {
  #page:after { content: '1000px'; }
}

@media screen and (max-width: 950px) {
  #page:after { content: '950px'; }
}

@media screen and (max-width: 900px) {
  #page:after { content: '900px'; }
}

@media screen and (max-width: 850px) {
  #page:after { content: '850px'; }
}

@media screen and (max-width: 800px) {
  #page:after { content: '800px'; }
}

@media screen and (max-width: 750px) {
  #page:after { content: '750px'; }
}

@media screen and (max-width: 750px) {
  #page:after { content: '750px'; }
}

@media screen and (max-width: 700px) {
  #page:after { content: '700px'; }
}
@media screen and (max-width: 650px) {
  #page:after { content: '550px'; }
}
@media screen and (max-width: 500px) {
  #page:after { content: '500px'; }
}
@media screen and (max-width: 450px) {
  #page:after { content: '450px'; }
}

@media screen and (max-width: 400px) {
  #page:after { content: '400px'; }
}

@media screen and (max-width: 350px) {
  #page:after { content: '350px'; }
}

@media screen and (max-width: 300px) {
  #page:after { content: '300px'; }
}





