.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(240, 230, 200);
}

div {
  margin: 0;
  padding: 0;
}

#page {
  margin: 1.5em auto;
  width: 95%; /* assume this is 960px */
}

.header {
  width: 93.5%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 1em;
}

.main {
  margin: 0 auto;
  width: 93.5%;
  margin-bottom: 1em;
}

.primary {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  float: left;
  text-align: center;
  min-height: 480px;
  background-color: rgba(40, 20, 10, .7);
}

.secondary {
  float: left;
  width: 39%;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(200, 150, 90);
}

.tertiary {
  text-align: center;
  margin: 0;
  padding: 0;
  text-align: center;
  clear: both;
  width: 100%;
}

.footer {
  width: 93.75%;
  margin: 0em auto;
  padding: 0;
  text-align: center;
}

.debug {
  color:pink;
}

