.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(240, 230, 200);
}

div {
  margin: 0;
  padding: 0;
}

#page {
  margin: 1.5em auto;
  width: 95%; /* assume this is 960px */
}

.header {
  width: 93.5%;
  margin: 0 auto;
  padding: 0;
  -moz-border-radius: .8em;
  border-radius: .8em;
  margin-bottom: 1em;
}

.main {
  margin: 0 auto;
  width: 93.5%;
  margin-bottom: 1em;
}

.main .primary {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  float: left;
  text-align: center;
  -moz-border-radius: .8em;
  border-radius: .8em;
}

.main .secondary {
  float: left;
  width: 39%;
  text-align: center;
  margin: 0;
  padding: 0;
  -moz-border-radius: .8em;
  border-radius: .8em;
}


.main .tertiary {
  text-align: center;
  margin: 0 auto;
  -moz-border-radius: .8em;
  border-radius: .8em;
  margin: 0;
  padding: 0;
  text-align: center;
  clear: both;
  width: 100%;
}


.footer {
  width: 93.75%;
  margin: 0em auto;
  padding: 0;
  text-align: center;
  -moz-border-radius: .4em;
  border-radius: .4em;
}

.debug {
  color:pink;
}

