.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div {
  margin: 0;
  padding: 0;
}

#page {
  margin: 1.5em auto;
  width: 95%; /* assume this is 960px */
}

.header {
  width: 93.5%;
  margin: 0 auto;
  -moz-border-radius: .8em;
  border-radius: .8em;
  margin-bottom: 1em;
  background:-webkit-linear-gradient(top, #eee, #fff);
}

.header h1 {
  margin: 0;
  padding: 1% 0%  1% 1%;
  font: 40px sans-serif;
  color: #444;
}

.main {
  margin: 0 auto;
  width: 93.5%;
  margin-bottom: 1em;
}

.main .primary {
  background:-webkit-linear-gradient(top, #eee, #fff);
  float: left;
  width: 44%;
  text-align: center;
  -moz-border-radius: .8em;
  border-radius: .8em;
  margin: 0;
  max-height: 50%;
}

.main .primary .selected-word {
  font: 24px sans-serif;
  width: 30%;
  margin: 2% auto 2% auto;
  padding: 1% 0%;
  -moz-border-radius: .4em;
  border-radius: .4em;
  border: .1em solid #ccc;
  color: #444;
}

.main .primary .board {
  width: 80%; /* 350px */
  margin: 0 auto;
}

.main .primary .board img {
  max-width: 80%;
}

.main .primary .game-data {
  width: 45%;
  margin: 0 auto;
  padding: .25em 0;
  border: .1em solid #ccc;
  -moz-border-radius: .8em;
  border-radius: .8em;
  margin-top: 1em;
  margin-bottom: 1.5em;
  background-color: #fff;
}

.main .primary .game-data div {
    display: inline-block;
    padding: 1% 0%;
    margin: 1% 0%;
    text-align: center;
    color: #444;
    width: 25%;
    -moz-border-radius: .8em;
    border-radius: .8em;
    font-weight: bold;
    font-size: .9em;
    border: .1em solid #ccc;
}

/* set max vertical height for this */
.main .secondary {
  float: left;
  width: 25%;
  text-align: center;
  margin: 0;
  -moz-border-radius: .8em;
  border-radius: .8em;
  padding: .4em 0em;
  background:-webkit-linear-gradient(top, #dfdfdf, #fff);
  max-height: 50%;
}

h2.column-heading {
  font: normal normal 1.5em sans-serif;
  width: auto;
  margin: 2% auto 2% auto;
  -moz-border-radius: .8em;
  border-radius: .8em;
  color: #222;
}

.main .secondary ul {
  list-style: none;
  width: 80%;
  padding: 0;
  margin: 0 auto 1em auto;
  -moz-border-radius: .8em;
  border-radius: .8em;
  padding: .5em 0;
  border: .1em solid #ccc;
  background:-webkit-linear-gradient(top, #999, #aaa);
}

.main .secondary ul li {
  margin: 2% auto;
  width: 75%;
  color: #555;
  font: normal bold .9em sans-serif;
  -moz-border-radius: .4em;
  border-radius: .4em;
  border: .1em solid #ccc;
  text-align: left;
  padding: .15em .3em;
  background-color: #eee;
}

.main .secondary ul li .score {
  margin-right: 0;
  font: italic .9em serif;
  float:right;
  padding-top: .08em;
  /* border: .1em solid #ccc; */

}

.main .tertiary {
  float: left;
  width: 30%;
  text-align: center;
  margin: 0 auto;
  -moz-border-radius: .8em;
  border-radius: .8em;
  /* border: .1em solid #ccc; */
  padding: .3em 0em;
  text-align: center;
  background:-webkit-linear-gradient(top, #eee, #efefef);
}

.main .tertiary .your-turn {
  width:80%;
  border-radius: .8em;
  background:-webkit-linear-gradient(top, #888, #999);
  margin: 0 auto 1em auto;
  padding: .1em 0;
}

.main .tertiary .their-turn {
  width:80%;
  border-radius: .8em;
  background:-webkit-linear-gradient(top, #ddd, #eee);
  margin: 0 auto;
  padding: .1em 0;
}

.notification {
  width: 90%;
  text-align: left;
  font-size: .8em;
  -moz-border-radius: .6em;
  border-radius: .6em;
  margin: .5em auto;
  padding: .25em .3em;
}

.notification .heading {
  font-size: 1.2em;
}

.notification .time {
  font: italic .9em serif;
}

.main .tertiary .your-turn .notification {
  background:-webkit-linear-gradient(top, #eee, #fff);
  color: #333;
}

.main .tertiary .their-turn .notification {
  color: #fff;
  background:-webkit-linear-gradient(top, #888, #999);
}

.footer {
  width: 93.75%;
  margin: 0em auto;
  text-align: center;
  -moz-border-radius: .4em;
  border-radius: .4em;
  color: #444;
  font: 1.2em serif;
  padding: .5em 0;
  background:-webkit-linear-gradient(top, #fff, #eee);
}

.footer p {
  margin: 0;
  padding: 0;
}

.debug {
  color:pink;
}

.main-panel {

}

.main-panel h2 {
  color: blue;
}

.main-panel button {

}

.main-panel .login-panel {

}

.list-games-panel {

}

.list-games-panel table {
  margin: 1em auto;
  width: 95%;
}


.list-games-panel table thead {

}

.list-games-panel td {
  font: italic 1em serif;
  padding: .2em .4em;
  border: 1px solid brown;
  -moz-border-radius: .2em;
  border-radius: .2em;
}

.list-games-panel table thead tr td{
  background-color: green;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid green;
}

.list-games-panel td.last-played {
  font: normal italic 1em serif;
  color: brown;
  width: 70%;
}

.list-games-panel td.status .score {
    font: bold normal 1.2em sans-serif;
    width: 28%;
 }

.list-games-panel td.status button {
   background-color: green;
   color: white;
   -moz-border-radius: .8em;
  border-radius: .8em;
  border: 1px solid green;
 }

.list-games-panel td.status .time-remaining {
   font: italic .6em sans-serif;
   color: brown;
 }
