/*
 **** MAIN PANEL ****
 */

.main-panel {
  margin: 0;
  padding-bottom: 5em;
  background-image: url("../assets/SkyAndGrass-background.png");
}

.main-panel .main-heading {
  color: rgb(150, 100, 0);
  font: italic bold 3em sans-serif;
}

.main-panel .buttons {
  width: 90%;
  margin: 2em auto;
}

.main-panel .buttons button {
  font-size: 1em;
  padding: .5em 1em;
  color: white;

  -moz-border-radius: .3em;
  border-radius: .3em;
  border: 0px;
}

.main-panel .buttons .new-game button {
  float:left;
  background-color: green;
  border: 0px;
}

.main-panel .buttons .high-scores button {
  background-color: rgb(150, 100, 0);
  float:right;
}

/*
 **** LOGIN PANEL ****
 */

.main-panel .login-panel {
  width: 100%;
  margin: 1em 0 0 0;
}


.login-panel .sign-in-message {
  font: italic bold 1.5em sans-serif;
  color: rgb(120, 60, 30);
  margin-bottom: 2em;
}

.login-panel div.welcome {
  margin: 1em 0 0 0;
  padding: 0;
  width: 90%;
  margin: 0 auto;
}

.login-panel div.welcome .message {
  font: italic normal 1em san-serif;
  padding: 0;
  margin: 0;
  float: left;
  color: brown;
}

.login-panel div.welcome .image {
  padding: 0;
  margin: 0;
  float: right;
}

.login-panel div button#disconnect {
  color: rgb(60, 30, 10);
  background-color: white;
  margin: 2em 0 0 0;
  padding: .5em .75em;
  -moz-border-radius: .3em;
  border-radius: .3em;
  border: 0px solid black;
  margin-bottom: 1.5em;
}

/*
 **** GAME PANEL ****
 */

.game-panel {
}

.game-panel .selected-word {
  font: 24px sans-serif;
  width: 30%;
  margin: 2% auto 2% auto;
  padding: 1% 0%;
  -moz-border-radius: .4em;
  border-radius: .4em;
  border: .1em solid #ccc;
  color: #444;
}
.game-panel .board {
  width: 80%; /* 350px */
  margin: 0 auto;
}

.game-panel .board img {
  max-width: 80%;
}

.game-panel .board .game-data {
  width: 45%;
  margin: 0 auto;
  padding: .25em 0;
  border: .1em solid #ccc;
  -moz-border-radius: .8em;
  border-radius: .8em;
  margin-top: 1em;
  margin-bottom: 1.5em;
  background-color: #fff;
}

.game-panel .board .game-data div {
    display: inline-block;
    padding: 1% 0%;
    margin: 1% 0%;
    text-align: center;
    color: #444;
    width: 25%;
    -moz-border-radius: .8em;
    border-radius: .8em;
    font-weight: bold;
    font-size: .9em;
    border: .1em solid #ccc;
}

/*
 **** GAME LIST PANEL ****
 */

.list-games-panel {
  background-image: url('../assets/wood_texture_fragment.png');
  background-color: red;
}


.list-games-panel h2.main-heading{
  color: rgb(190, 240, 255);
  font: italic bold 2em serif;
  color: rgb(178, 230, 255);
  background-color: rgba(60, 30, 15, .5);
  padding: .5em;
}

.list-games-panel table {
  margin: 1em auto;
  width: 95%;
  background-color: rgba(180, 120, 60, .25);
}

.list-games-panel td {
  font: italic 1em serif;
  margin: 1em 0;
  padding: .2em .4em;
  border: 1px solid rgb(60, 30, 10);
  -moz-border-radius: .4em;
  border-radius: .4em;
  background-color: rgba(178, 230, 255, .8);
}

.list-games-panel table thead tr td {
  background-color: rgb(193, 233, 108);
  color: rgb(20, 10, 5);
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid green;
}

.list-games-panel table thead tr td {
}

.list-games-panel td.last-played {
  font: italic bold 1.1em serif;
  color: rgb(60, 30, 15);
}

.list-games-panel td.status .score {
  font: bold normal 1.2em sans-serif;
  color: rgb(80, 40, 20);;
 }

.list-games-panel td.status button {
   background-color: green;
   color: white;
   -moz-border-radius: .8em;
  border-radius: .8em;
  border: 1px solid green;
 }

.list-games-panel td.status .time-remaining {
  font: italic bold .9em sans-serif;
  color: rgb(120, 60, 30);
}


/*
 **** WORD LIST PANEL ****
 */

/* TODO: change <h2> so that it is inside the words-list-panel */
.word-list-panel h2.column-heading {
  font: normal normal 1.5em sans-serif;
  width: auto;
  margin: 2% auto 2% auto;
  -moz-border-radius: .8em;
  border-radius: .8em;
  color: #222;
}

.word-list-panel ul {
  list-style: none;
  width: 80%;
  padding: 0;
  margin: 0 auto 1em auto;
  -moz-border-radius: .8em;
  border-radius: .8em;
  padding: .5em 0;
  border: .1em solid #ccc;
}

.word-list-panel ul li {
  margin: 2% auto;
  width: 75%;
  font: normal bold .9em sans-serif;
  -moz-border-radius: .5em;
  border-radius: .5em;
  border: .1em solid #ccc;
  text-align: left;
  padding: .15em .3em;
}

.word-list-panel ul li .score {
  margin-right: 0;
  font: italic .9em serif;
  float:right;
  padding-top: .08em;
  /* border: .1em solid #ccc; */

}
