/*
 **** MAIN PANEL ****
 */

.main-panel {
  width: 100%;
  margin: 0;
  padding-top: 2em;
  padding-bottom: 0em;
  background-color: rgba(40, 20, 10, .7);
  background-image: url('../assets/WordHerder.png');
  background-repeat: no-repeat;
  background-position: 50% 5em;
  background-size: 50%;
  min-height: 480px;
  -moz-border-radius: .8em;
  border-radius: .8em;
  position: relative;
}

.main-panel .buttons {
  width: 50%;
  margin: 1.2em auto;
}

.main-panel .buttons button {
  width: 90%;
  font-size: 1em;
  padding: .5em 1em 2em 1em;
  color: white;

  -moz-border-radius: .3em;
  border-radius: .3em;
  border: .2em solid rgb(30, 15, 5);
}

.main-panel .buttons .new-game button {
  background-color: rgba(60, 30, 15, .8);
}

.main-panel .buttons .new-game-with-pardner button {
  background-color: rgba(150, 90, 30, .6);
}

/*
 **** LOGIN PANEL ****
 */

.main-panel .login-panel {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 1em;
  left: 0;
}

.login-panel .sign-in-message {
  font: italic bold 1.5em sans-serif;
  color: rgb(120, 60, 30);
  margin-bottom: 2em;
}

.login-panel .welcome {
  text-align: center;
  margin: 0 auto 0 5%;
  float: left;
  width: 30%;
}

.login-panel .sign-out {
  text-align: center;
  margin: 0 5% 0 auto;
  float: right;
  width: 30%;
}

.login-panel .welcome .message {
  font: italic normal .8em sans-serif;
}

.login-panel .welcome .image {
}


.login-panel div button#disconnect {
  color: rgb(60, 30, 10);
  background-color: white;
  margin: 2em 0 0 0;
  padding: .5em .75em;
  -moz-border-radius: .6em;
  border-radius: .6em;
  border: 0px solid black;
  margin-bottom: 1.5em;
}

/*
 **** GAME PANEL ****
 */

.game-panel {
}

.game-panel .selected-word {
  font: 24px sans-serif;
  width: 30%;
  margin: 2% auto 2% auto;
  padding: 1% 0%;
  -moz-border-radius: .4em;
  border-radius: .4em;
  border: .1em solid #ccc;
  color: #444;
}
.game-panel .board {
  width: 80%; /* 350px */
  margin: 0 auto;
}

.game-panel .board img {
  max-width: 80%;
}

.game-panel .board .game-data {
  width: 45%;
  margin: 0 auto;
  padding: .25em 0;
  border: .1em solid #ccc;
  -moz-border-radius: .8em;
  border-radius: .8em;
  margin-top: 1em;
  margin-bottom: 1.5em;
  background-color: #fff;
}

.game-panel .board .game-data div {
    display: inline-block;
    padding: 1% 0%;
    margin: 1% 0%;
    text-align: center;
    color: #444;
    width: 25%;
    -moz-border-radius: .8em;
    border-radius: .8em;
    font-weight: bold;
    font-size: .9em;
    border: .1em solid #ccc;
}

/*
 **** GAME LIST PANEL ****
 */

.list-games-panel {
  background-color: rgba(40, 20, 10, .7);
  min-height: 480px;
  -moz-border-radius: .8em;
  border-radius: .8em;

}

.list-games-panel .connected-styles {
  min-height: 480px;
  background-image: url('../assets/wood_texture_fragment.png');
  background-repeat: repeat;
  background-position: 0% 0%;
  background-size: 100%;
  -moz-border-radius: .8em;
  border-radius: .8em;
}

.list-games-panel .not-connected-styles {
  min-height: 480px;
  background-image: url('../assets/SkyAndGrass-background.png');
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100%;
  -moz-border-radius: .8em;
  border-radius: .8em;
}

.list-games-panel h2.main-heading{
  color: rgb(190, 240, 255);
  font: italic bold 2em serif;
  color: rgb(178, 230, 255);
  background-color: rgba(60, 30, 15, .5);
  padding: .5em;
}

.list-games-panel table {
  margin: 0 auto;
  width: 95%;
  padding-top: 1em;
}

.list-games-panel td {
  color: rgb(250, 200, 100);
  font: italic 1em serif;
  margin: 1em 0;
  padding: .2em .4em;
  border: 1px solid rgb(60, 30, 10);
  -moz-border-radius: .4em;
  border-radius: .4em;
}

.list-games-panel table thead tr td {
  border: 0;
  background-color: rgba(80, 40, 20, .7);
  font-size: 1.2em;
  font-weight: bold;
}

.list-games-panel table thead tr td {
}

.list-games-panel td.last-played {
  font: italic bold 1.1em serif;
  color: rgb(80, 40, 20);
}

.list-games-panel td.status .score {
  font: bold normal 1.2em sans-serif;
  color: rgb(80, 40, 20);
 }

.list-games-panel td.status button {
   background-color: green;
   color: white;
   -moz-border-radius: .8em;
  border-radius: .8em;
  border: 1px solid green;
 }

.list-games-panel td.status .time-remaining {
  font: italic bold .9em sans-serif;
  color: rgb(120, 60, 30);
}


/*
 **** WORD LIST PANEL ****
 */

/* TODO: change <h2> so that it is inside the words-list-panel */
.word-list-panel h2.column-heading {
  font: normal normal 1.5em sans-serif;
  width: auto;
  margin: 2% auto 2% auto;
  -moz-border-radius: .8em;
  border-radius: .8em;
  color: #222;
}

.word-list-panel ul {
  list-style: none;
  width: 80%;
  padding: 0;
  margin: 0 auto 1em auto;
  -moz-border-radius: .8em;
  border-radius: .8em;
  padding: .5em 0;
  border: .1em solid #ccc;
}

.word-list-panel ul li {
  margin: 2% auto;
  width: 75%;
  font: normal bold .9em sans-serif;
  -moz-border-radius: .5em;
  border-radius: .5em;
  border: .1em solid #ccc;
  text-align: left;
  padding: .15em .3em;
}

.word-list-panel ul li .score {
  margin-right: 0;
  font: italic .9em serif;
  float:right;
  padding-top: .08em;
  /* border: .1em solid #ccc; */

}
