@media screen and (max-width: 620px) {
  #page {
    margin: 0 auto;
    width: 100%;
  }

  .phone-only {
    display:inline-block;
  }

  .main {
    margin: 0 auto;
    width: 96%;
  }

  .main .primary {
    float: none;
    width: 96%;
    margin: 0 auto;
    margin-top: 1em;
  }

  .main .primary .main-panel {
    background-position: 50% 10em;
  }

  .main .secondary {
    display: none;
  }

  .main .tertiary {
    display: none;
  }
}


@media screen
and (max-device-width : 500px)
and (orientation : landscape) {
  body {
    margin: 0 auto;
    width: 100%;

  }

  #page {margin: 0; width: 100%;}
  .main {margin: 0; width: 100%;}
  .primary {margin: 0; width: 100%;}

  .main-panel {
    background-image: none;
    background-size: 30%;
    max-height: none;
  }
  .main-panel .login { margin-top: 4em;}
  .main-panel .login .login-panel {position: relative;}
}

