@media screen and (max-width: 480px) {
  #page {
    margin: 0 auto;
    width: 100%;
  }

  button.phone-only {
    display:inline-block;
  }

  .main {
    margin: 0 auto;
    width: 96%;
  }

  .main .primary {
    float: none;
    width: 96%;
    margin: 0 auto;
    margin-top: 1em;
  }

  .main .primary .main-panel {
    background-position: 50% 10em;
  }

  .main .secondary {
    display: none;
  }

  .main .tertiary {
    display: none;
  }
}

