@media screen
and (max-device-width : 980px)
and (orientation : landscape) {

  .login-panel {
    bottom: 2em;
  }

  .game-panel .selected-word {
    margin: 0 auto;
    padding: .1em;
  }

  .game-panel .selected-word div {
    margin: 0 auto;
  }

  .game-panel .selected-word .word {
    padding: .1em;
  }

  .game-panel #frontBuffer {
    width: 66%;
  }

  ul.words-and-scores li {
    font-size: 1.4em;
  }

  .game-panel .game-data {
    width: 84%;
    padding: 0;
    margin: 0 auto;
  }

  .game-panel .no-board {
    padding: 0;
    margin: 0 auto;
  }

  .game-panel .buttons {
    margin-top: .2em;
  }

  .game-panel .buttons button {
    padding: .25em;
  }
}

/* SMALL TABLET PORTRAIT */
@media screen
and (max-device-width : 610px)
and (min-device-width : 600px)

and (orientation : portrait) {

  .secondary {
    display: none;
  }

  #page {width: 100%; margin: 0 auto;}
  .main {width: 100%; margin: 0 auto;}
  .primary {width: 100%; margin: 0 auto;}
  .secondary {width: 100%; margin: 0 auto;}

  .game-panel #frontBuffer {
    width: 94%;
  }

  ul.words-and-scores {
    padding: 1em;
  }

  ul.words-and-scores li {
    font-size: 1.3em;
  }

  .game-panel .selected-word {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 auto 0 58%;
    padding: 0;
    color: white;
  }

  .game-panel .selected-word .word {
    margin: 0;
    padding: 0;
    width: 80%;
  }

  .game-panel .board {
    width: 68%;
    float: left;
    margin: -1.5em 0 0 0;
    padding: 0;
  }

  .game-panel .board #frontBuffer {
    width: 100%;
  }

  .game-panel .not-board {
    float: right;
    width: 32%;
  }

  .game-panel .game-data {
    margin: 2em auto 3em auto;
  }

  .game-panel .game-data div {
    display: block;
    margin: 1% auto;
    padding: 0;
    width: 93%;
  }

  .game-panel .buttons {
    width: 93%;
    margin: 0 auto;

  }

  .game-panel .buttons button {
    display: block;
    width: 93%;
    margin: .5em auto;
  }
} /* end of portrait styles */


@media screen and (max-width: 980px{

  .header {
    display: none;
  }

  .main {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 1em;
  }

  .main .primary {
    width: 60%;
    margin-bottom: 1em;
  }

  .main-panel {
    background-position: 50% 8em;
  }

  .game-panel #frontBuffer {
    width: 90%;
  }

  .main .secondary {
    width: 39%;
    text-align: center;
  }
}
